<h1>Edit User</h1>
<%= flash[:edit_errors] %>
<a href="/the_wall">front page</a>
<a href="/users/<%= @user.id %>/show">Show</a>

<form action="/users/<%= @user.id %>" method="post">
  <p>Name: <input type="text" name="user[name]" value="<%= @user.name %>"></p>
  <p>Email: <input type="text" name="user[email]" value="<%= @user.email %>"></p>
  <p>Location:
    <select name="user[location]">
      <option<% 'selected' if @user.location == 'San Jose, CA' %>>San Jose, CA</option>
      <option<% 'selected' if @user.location == 'Seattle, WA' %>>Seattle, WA</option>
      <option<% 'selected' if @user.location == 'Burbank, CA' %>>Burbank, CA</option>
    </select>
  </p>
  <p>Password: <input type="password" name="user[password]" value="<%= @user.password %>"> </p>
  <p>Password Confirmation: <input type="password" name="user[password_confimation]" value="<%= @user.password_confirmation %>"></p>
  <input type="submit" value="Update">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
