<%if flash[:success]%>
  <%= flash[:success]%>
<%end %>

<%if flash[:registration_errors] %>
  <%flash[:registration_errors].each do |error|%>
    <p> <%= error %> </p>
  <%end%>
<%end%>


<h1>Create New Users</h1>
<form class="createUser" action="users/create" method="post">
  <p>Name: <input type="text" name="user[name]"></p>
  <p>Email: <input type="text" name="user[email]"></p>
  <p>Dojo Location:
    <select name="user[location]">
      <option></option>
      <option>San Jose, CA</option>
      <option>Seattle, WA</option>
      <option>Burbank, CA</option>
    </select>
  </p>
  <p>Password: <input type="password" name="user[password]"></p>
  <p>Password Confirmation: <input type="password" name="user[password_confirmation]"></p>
  <input type="submit" value="Submit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>

<h1>Login</h1>
<%if flash[:login_error] %>
  <%= flash[:login_error] %>
<% end %>
<form class="loginUser" action="sessions/create" method="post">
  <p>Email: <input type="text" name="login[email]"></p>
  <p>Passsword: <input type="password" name="login[password]"></p>
  <input type="submit" value="Login">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
</form>
